# Configuration file

general {
    # Set to true for verbose debug
    B:debug=false

    # Server unique ID
    S:guid=b4b3bec3-9ae5-449a-8b13-df508a569609

    # Set to true to disable all reporting
    B:opt-out=false
}


